<h1>{{title}}</h1> 
<form action="/createNewUser" method="POST"> 
      <button>Create New User</button> 
</form> 
<form action="/postintime" method="POST"> 
      <button>Clock IN</button> 
</form> 
<form action="/postouttime" method="POST"> 
      <button>Clock OUT</button> 
</form> 
<form action="/gettotalhours" method="GET"> 
      <button>Get total hours</button> 
</form> 
<form action="/generateReport" method="GET"> 
      <button>Generate Report</button> 
</form> 

<form action="/generateReport" method="GET"> 
    <label class="switch">
  <input type="checkbox" name="subscribe" value="newsletter">
  <span class="slider round"></span>
  <p>Out&nbsp;&nbsp;&nbsp;&nbsp;IN</p>
</label>
</form> 


